@import "tailwindcss";

@theme {
    --spacing: 1rem;
    --border-size: 2px;
    --border-size-small: 2px;
    --border-rounded: 20px;

    /* Colour Schemes (not finished) */
    /* 201, 79, 132*/
    --color-light-primary: rgb(117, 183, 42);
    --color-light-primary-200: rgba(117, 183, 42, 0.1); /* Defo change (maybe also primary so more vibrant) */
    --color-light-pop: #66DAC5;
    --color-light-text: black;
    --color-light-background: white; 
    --color-light-navcolour: #302408;

    --color-dark-primary: rgb(176, 48, 163);
    --color-dark-primary-200: rgba(176, 48, 163, 0.2);
    --color-dark-pop: #aaaaaa;
    --color-dark-text: white;
    --color-dark-background: black;
    --color-dark-navcolour: yellow;

}

@layer base {
    body {
        @apply bg-light-background dark:bg-dark-background text-light-text dark:text-dark-text mt-4;
        font-family: 'Chivo', sans-serif;
        font-weight: 300;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.17rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.83rem;
    }
}

@layer components {
    /* ICONS */
    .icon {
        @apply m-auto dark:invert max-w-none h-full;
        @apply bg-light-primary dark:bg-dark-primary;
        mask-repeat: no-repeat;
        mask-size: contain;
    }

    .nav .icon {
        @apply bg-light-navcolour dark:bg-dark-navcolour;
    }

    .icon-parent {
        @apply p-[2px] hover:p-0 h-full border-light-navcolour dark:border-dark-navcolour;
    }

    /* NAVIGATION */
    .nav {
        @apply text-light-navcolour dark:text-dark-navcolour;
    }

    #hamburger img {
        transform: translateY(25%);
        margin-left: var(--spacing);
    }

    .hiddenNavHamb {
        @apply border-l-transparent!;
    }

    #create-options:not(.showCreateOptions) {
        @apply p-0!;
    }

    .showCreateOptions {
        @apply border-(length:--border-size-small) rounded-b-(length:--border-rounded) p-[2px] bg-light-background dark:bg-dark-background;
    }

    .showCreateOptions a {
        @apply block!;
    }

    .showCreateOptionsEasy a {
        @apply block!;
    }

    .create-div:has(.showCreateOptions) #create-icon {
        @apply border-(length:--border-size-small) border-b-0 rounded-t-(length:--border-rounded) p-0.25;
    }

    .create-div:has(.showCreateOptions) #create-icon img {
        @apply h-1.5!;
    }

    .create-div:has(.showCreateOptions) #create-icon h5 {
        @apply hidden!;
    }

    #create-div-easy:has(.showCreateOptionsEasy) {
        @apply gap-0.5;
    }

    #create-div-easy:has(.showCreateOptionsEasy) #create-icon {
        @apply mx-auto!;
    }

    /* ITEMS */
    .border-colour {
        @apply border-(length:--border-size) border-light-primary dark:border-dark-primary;
    }

    .border-style {
        @apply border-light-primary dark:border-dark-primary;
        @apply border-(length:--border-size) rounded-2xl p-1;
    }

    .border-underline {
        @apply border-b-(length:--border-size) border-b-light-primary dark:border-b-dark-primary;
    }

    .div-hover {
        @apply border-light-primary dark:border-dark-primary;
        @apply border-(length:--border-size) rounded-(length:--border-rounded) p-1;
        @apply hover:bg-light-primary-200 hover:dark:bg-dark-primary-200;
    }

    /* OTHER SPECIFICS */
    #logoTitle {
        height: calc(var(--spacing) * 5);
        max-height: 20vw;
    }
}