@import "tailwindcss";

@theme {
    --spacing: 1rem;
    --border-size: 3px;

    /* Colour Schemes (not finished) */
    --color-light-primary: #606C38;
    --color-light-pop: #BC6C25;
    --color-light-text: black;
    --color-light-background: white;

    --color-dark-primary: #606C38;
    --color-dark-pop: #BC6C25;
    --color-dark-text: white;
    --color-dark-background: #111A0A;

}

@layer base {
    body {
        @apply bg-light-background dark:bg-dark-background text-light-text dark:text-dark-text mt-5;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.17rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.83rem;
    }
}

@layer components {
    /* ICONS */
    .icon {
        @apply h-2 border-2 border-transparent m-auto dark:invert;
    }

    .icon:hover {
        @apply border-0;
    }

    /* NAVIGATION */
    .hiddenNavHamb {
        @apply border-l-transparent!;
    }

    .showCreateOptions {
        @apply border-2 rounded-b-full p-[2px];
    }

    .showCreateOptions a {
        @apply block!;
    }

    .create-div:has(.showCreateOptions) #create-icon {
        @apply border-2 border-b-0 rounded-t-full p-0.25;
    }

    .create-div:has(.showCreateOptions) #create-icon img {
        @apply h-1.5!;
    }

    .create-div:has(.showCreateOptions) #create-icon h5 {
        @apply hidden!;
    }

    /* OTHER */
    #logoTitle {
        height: calc(var(--spacing) * 5);
        max-height: 20vw;
    }
}