<div class="flex flex-row gap-1 h-2 top-0 w-full px-1 my-1">
    <div class="flex flex-row gap-1 md:gap-2 h-full mx-auto md:ml-auto md:mr-0">
        <a href="/" class="h-full icon">
            <img src="/assets/home-icon.png" alt="A house icon, linking to the home page" class="h-full">
            <h5>Home</h5>
        </a>
        <a href="account" class="h-full icon">
            <img src="/assets/account-icon.png" alt="An icon of a person, linking to the account page" class="h-full">
            <h5>Account</h5>
        </a>
        <a href="food-list" class="h-full icon">
            <img src="/assets/food-list-icon.png" alt="An icon of a list with a strawberry infront, linking to the food list page" class="h-full">
            <h5>Foods</h5>
        </a>
        <div class="flex flex-row gap-1 h-full">
            <div class="h-full icon">
                <img src="/assets/create-icon.png" alt="A plus icon, to show more create options" id="create-icon" class="h-full">
                <h5>Create</h5>
            </div>
            <a href="" class="h-full hidden icon">
                <img src="/assets/food-icon.png" alt="An icon of a strawberry, linking to the create food page" class="h-full">
                <h5>Food</h5>
            </a>
            <a href="" class="h-full hidden icon">
                <img src="/assets/mood-icon.png" alt="An icon of a smiling face, linking to the create mood page" class="h-full">
                <h5>Mood</h5>
            </a>
            <a href="" class="h-full hidden icon">
                <img src="/assets/sickness-icon.png" alt="An icon of an ill face, linking to the create sickness page" class="h-full">
                <h5>Sickness</h5>
            </a>
        </div>
    </div>
    <div class="flex h-full border-l-2 px-1">
        <img src="/assets/hamburger-icon.png" alt="A hamburger icon to toggle the navigation" id="hamburger" class="w-2 h-fit mr-0 ml-auto icon hover:my-auto">
    </div>
</div>